.mainHamburguerText{
    color: white;
    width: 50%;
}

.mainImageContainer{
    width: 50%;
}

.mainHamburguerTitle{
    font-size: 3rem;
}

.mainHamburguerSubtext{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.61);
    padding: 10px 0 20px 0;
}

.mainHamburguer{
    padding: 40px 0;
}

.mainBtn{
    background-color: black;
    color: white;
    border: 1px red solid;
    border-radius: 30px;
    padding: 15px 30px;
    margin-right: 20px;
}